*{
    font-family: 'Courier New', sans-serif;
}

.navbar{
    background-color: #000000;
    color: white;
    margin-top: 0.1vw;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
}

.navbar a:hover {
    color: rgb(60, 164, 0);
    transition: all 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.menu{
    margin-left: auto;
    display: inline-block;
}

.menu-item{
    display: inline-block;
    color: #f2f2f2;
    padding: 14px;
    text-decoration: none;
    border-radius: 15px;
}

#article-feed{
    justify-content: center;
    align-items: center;
    max-width: 75vw;
    margin: 0 auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding: 2rem;
    background-color: #fff;

    animation: fadeInDrop 1.2s ease-out;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

#about-content{
    justify-content: center;
    align-items: center;
    max-width: 75vw;
    margin: 0 auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding: 2rem;
    background-color: #fff;

    animation: fadeInDrop 1.2s ease-out;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.article-link{

    border: 1px solid rgba(255, 255, 255, 0.2);
}

body{
    background-color: #545454;
}